@include mat-core();
$my-app-primary: mat-palette($md-primary-palette);
$my-app-accent: mat-palette($md-accent-palette);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-primary);
@include angular-material-theme($my-app-theme);

mat-card {
  margin: 30px 10px 0px 10px;

  &:last-child {
    margin-bottom: 30px;
  }

}

body {
  background-color: $colorWhite;
}

.app-card {
  &.mat-card {
    padding-top: 0;
  }
}

.app-card--content {
  display: flex;
  flex-direction: column;

  > * {
    width: 100%;
  }
}

.app-icon {
  vertical-align: top;
  font-size: 2em;
  padding-right: 0.5em;
}

.app-headline {
  line-height: 2em;
}

.app-header {
  margin: -1.5rem -1.5rem 1rem -1.5rem;
  background: linear-gradient(135deg, $colorBlackLightest, $colorWhite) $colorBlackLightest;
  color: $colorBlack;
  border-radius: 2px 2px 0px 0px;
  padding: 0 0.75rem;
  border-bottom: 4px solid $colorPrimary;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.14), 0 6px 10px 0 rgba(0, 0, 0, 0.12);
}

@media (max-width: 599px) {
  .app-header {
    &.mat-card-header {
      margin: -1.5rem -1rem 1rem -1rem;
    }
  }
}

.app-frame {
  padding: 0;
  margin: 0 auto;
  max-width: 1200px;
}
