$colorPrimary: #389aff;
$colorPrimaryLight: #0d1e3f;
$colorPrimaryDark: #031b2b;

$colorWhite: #fafafa;
$colorBlack: #212121;
$colorBlackLight: #6F6F6F;
$colorBlackLightest: #F0F0F0;

$md-primary-palette: (
  50 : #e3f0f6,
  100 : #bad8e8,
  200 : #8cbfd9,
  300 : #5ea5c9,
  400 : #3c91be,
  500 : #12254C,
  600 : #12254C,
  700 : #060707,
  800 : #0d1e3f,
  900 : #031b2b,
  A100 : #b8dbff,
  A200 : #85c1ff,
  A400 : #51a7ff,
  A700 : #389aff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-accent-palette: (
  50 : #fae5e7,
  100 : #f2bfc3,
  200 : #ea949b,
  300 : #e16972,
  400 : #da4854,
  500 : #d42836,
  600 : #cf2430,
  700 : #c91e29,
  800 : #c31822,
  900 : #b90f16,
  A100 : #ffe7e8,
  A200 : #ffb4b6,
  A400 : #ff8185,
  A700 : #ff686c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);



