<mat-toolbar color="primary" class="toolbar">
  <h1 class="title">Front End Task</h1>
</mat-toolbar>
 <div class="app-frame">
    <input #searchValue type="text" class="search" placeholder="Search By Repo Name" (keyup)="searchByRepo(searchValue.value)">
    <input #searchValue type="text" class="search" placeholder="Search By Stars" (keyup)="searchByStars(searchValue.value)">
    <input #searchValue type="text" class="search" placeholder="Search By Language" (keyup)="searchByLanguage(searchValue.value)">
  
    <mat-card class="list-card" *ngIf="dataSource">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        matSortActive="name"
        matSortDirection="asc"
        class="list-table"
      >
      <ng-container matColumnDef="repo">
        <th mat-header-cell *matHeaderCellDef> Repo </th>
        <td mat-cell *matCellDef="let element"> <img [src]="element.ownerAvatar" width="25" height="25">{{element.name}} </td>
      </ng-container>
  
    
      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef> Creation Date </th>
        <td mat-cell *matCellDef="let element"> {{element.creationDate | date}} </td>
      </ng-container>

        <ng-container>
          <tr class="mat-row" *matNoDataRow>
            No data available
          </tr></ng-container
        >
  
        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: false"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="loadCommits(row.ownerName,row.name)"
          class="list-table--row"
        ></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10]"></mat-paginator>
    </mat-card>
  </div>
  